
.img_ress { padding-right: .225em;}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: black;
  background-image: url("../bg.png"); 
  /*background-attachment:fixed;*/ 
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-size: 80%;     
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
    margin: 0 auto;		
	color: #FFFFFF;    
		
	}
a.navi { display:block; width:120px; background-color:transparent; }
a.navi:hover {  background-color: rgba(0, 69, 120, 0.55); color: #FFFFFF; }

a:link, a:visited, a:active, a:hover
{ 
	text-decoration:none;
	/*font-weight:bold;*/
	/*color:#1e6794;*/
	color:#2c94d4;

}

a:active, a:hover
{ 
	color:#DEDFD7;
}

input,textarea,select, button { border-color:#000000; border-width:1px; background-color:#062636; color:#FFFFFF; }
input, textarea {font-family: verdana, sans-serif; font-size: 100%;}

.btn_main {  
  font-family: 'Open Sans';
  border: none;
    font-weight: bold;
    padding: 1em 2em 1em 2em;
    margin: 1em;    
    cursor: pointer;
    position: relative;
  background: rgba(0,69,120, 0.55);  
    }

.btn_main_klein {  
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    height: 22px;
    margin: 0px;
    margin-left: 5px;
    width: 22px;
 }

.btn_main_senden {
	
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    height: 22px;
    margin: 0px;    	
}

.btn_main:hover {
  background: #004b82;  
  text-decoration: none;
}			


.code { font-family: Monaco,Consolas,Andale Mono,monospace; }
.customlist { list-style-type: "» "; }

.defaultbg { background-color: rgba(0,0,0,0); }
.defaultbgblack { background-color: rgba(0,0,0,0); }

#default { margin-bottom: 5px;}

#hauptmenue { border: 1px solid  #00223c; background-color: rgba(0,34,60, 0.55); color: #3a6784; width: 150px;}
#hauptmenue td { padding-left: 1em; padding-right: 1em;}
 

.planetbar  { border: 1px dashed  #3a6784; text-align: center; background-color: rgba(0,34,60, 0.55);   }
.übersicht { border: 1px solid #3a6784; text-align: left; background-color: rgba(0,34,60, 0.55);   }
.übersicht_randlos { border: 0px solid #694649; }
.tbb { background-color: #000000; }

.tbt { padding:5px; background-color:#000000; }
.tbtb {  font-weight: normal; border-left: 0px solid #3a6784; border-bottom: 1px solid #3a6784; border-right: 1px solid #3a6784; padding:5px; background-color: #004578; padding-left: 1em;}
.tbtb_linksbundig { text-align: left; }
.tbtb_mitte { text-align: center; }
.tbtb_ohne_unten { border-bottom: 0px solid #3a6784;}
.tbtb_ohne_links_rechts_oben { border-left: 0px solid #3a6784; border-right: 0px solid #3a6784;}
.tbtb_ohne_rechts { border-right: 0px solid #3a6784; }
.tbtb_minimap { border-right: 0px solid #3a6784; text-align: center; padding: 6px;}
.tbtb_minimap_selected { border-left: 0px solid #3a6784; border-bottom: 1px solid #3a6784; border-right: 1px solid #3a6784; padding:5px; background-color: #004578; text-align: center;}
.tbtbr { border-right: 0px solid #3a6784;}

.tbtbk { padding-left: 0em;}

.tbc { padding:4px; background-color: rgba(0,69,120, 0.55); border-top: #3a6784 0px solid; border-right: #3a6784 1px solid;  text-align: left; padding-left: 1em;}
.tbc_oben { border-top: #3a6784 1px solid; }
.tbcOhneRandRechts { border-right: #3a6784 0px solid; }
.fleetdetail { padding:4px; border-top: #3a6784 1px solid; text-align: left; padding-left: 1em;}

.tbchell { padding:4px; background-color: rgba(0,34,60, 0.55); border-top: #00223c 1px solid; border-right: #00223c 1px solid; text-align: left; padding-left: 1em;}
.tbchell_ohne_left_border { padding: 0px; border-left: #00223c 0px solid;  }
.tbchell_ohne_right_border { padding: 0px; border-right: #00223c 0px solid;  }
.tbchell_ohne_left_padding { padding: 4px; }
.tbchellk { border-right: #3a6784 1px solid;}
.tbchell_rechts { text-align: right; padding-right: 1em; }
.tbchell_mitte { text-align: center; padding-right: 1em; }

.tbchell_minimap { text-align: center; border-right: #3a6784 1px solid; border-bottom: 1px solid #3a6784;}
.tbchell_minimap_ohne_unten { border-right: #3a6784 1px solid; border-bottom: 0px solid #3a6784;}
.tbchell_minimap_ohne_rechts { border-right: #3a6784 0px solid;  }

.tbcg { padding:4px; background-color:#404040; border-top: #5C5C5C 1px solid; border-left: #5C5C5C 1px solid; }
.tbcr { padding:4px; background-color:#694649; border-top: #836366 1px solid; border-left: #836366 0px solid; border-right: #836366 1px solid;  padding-left: 1em;}
.tbcr_ende { border-right: #836366 0px solid;}
.tbcb { padding:4px; background-color:#00436C; border-top: #006086 1px solid; border-left: #006086 1px solid; } 
.tbcs { padding:4px; background-color:#000000; border-top: #363636 1px solid; border-left: #363636 1px solid; }
.tbcs1 { padding:4px; background-color:#190909; border-top: #694949 1px solid; border-left: #694949 1px solid; }
.tbcs2 { padding:4px; background-color:#391919; border-top: #906060 1px solid; border-left: #906060 1px solid; }
.twb { border:1px dashed #A0A0A0; background-color:#404040; } /* table with border */

.time_elapsed {  font-size: 68%; color: #444444; text-align: right; width: 100%; }

ul.ress { 
	margin: 0;
	padding: 5px;
	padding-left: 5em;
	
	list-style-type: none;
}

ul.kontakte { 
	padding-left: 1em;
	list-style-type: none;
}

td.kontakte {
	text-align: left;
}

a.kontakte {
	color: #FFFFFF;
   
	
}

.nav {  
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;  
}

.nav > li,
.nav > li > a {
  display: inline-block;
  /*display: inline;*/
  zoom: 1;
}


.inline-items {
  margin-top: 0;
}

.inline-items li {
  margin-left: 0;
  border-left: 0px solid black;
  padding-left: 0em;
  padding-right: .5em;
}

.inline-items li:first-child {
  margin-left: 0;
  border: none;
  padding-left: 0;
  padding-right: .5em;
}

.inline-items li:last-child {
  padding-right: 0;
}

/* Attribute der Schiffe */

.attribute {  
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;  
}

.attribute > li,
.attribute > li > a {
  display: inline-block;
  /*display: inline;*/
  zoom: 1;
}


.inline-items-attr {
  margin-top: 0;
}

.inline-items-attr li {
  margin-left: 0;
  border-left: 0px solid black;
  padding-left: 0em;
  padding-right: .5em;
}

.inline-items-attr li:first-child {
  margin-left: 0;
  border: none;
  padding-left: 0;
  padding-right: .5em;
}

.inline-items-attr li:last-child {
  padding-right: 0;
}

/* ENDE: Attribute der Schiffe */

.flexcontainer { /* <- das hier wird der neue flex 20.03.2016 */
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: flex-start;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: left;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-start;
   align-content: flex-start;
}

.flexcontainer > div{
	margin-bottom: .5em;
	margin-right: .5em;
	padding: .5em;
	width: 17em;
	height: 15em;
}

.flexcontainer-center { /* <- das hier wird der neue flex 20.03.2016  */
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: center;
   align-content: center;
}
.flexcontainer-center > div{
	
	padding-bottom: 25px;
	
}


/* for messages ES 10.01.2024 */

.messagesGrid 		      {display:grid; grid-template-columns: 50px 15% auto 20% 20% 70px;}
.sendMessagesRecipient 	{grid-column: 1 / span 2;}
.sendMessagesSubject 	  {grid-column: 3 / span 3;}
.sendMessagesSendBtn 	  {grid-column: 6;}
.sendMessagesContent 	  {grid-column: 1 / span 6;}
.messagesContent    	  {grid-column: 1 / span 6; grid-row: 3;}
.messagesImage       	  {grid-column: 1; grid-row: 1 / span 2;}
.messagesSubject       	{grid-column: 2 / span 5; grid-row: 2;}
.messagesSenderRecipient{grid-column: 2 / span 2; grid-row: 1;}
.messagesDateButtons    {grid-column: 4 / span 3; grid-row: 1;}

.wordBreak {word-break:break-all; word-wrap:break-word;}

/* by ES 22.06.2016*/
.pBar {width: 0%; position: absolute; top: 0px; height: 100%; z-index: 5; background-color: /*#004578*/#00cc00; transition: background-color 3s linear 0s;}
.pBarG {Background-color: /*#4178a2*/ #008800;}
.BGpBar {position: relative; padding-left: 0px;}
.LpBar {position: relative; z-index: 10; background-color: transparent; border: none;}
.LpBarZ {position: relative; z-index: 10;}
	
/* andere action ;-)
.detailsAusgeblendet { transform: scale(0); opacity: 0; visibility: collapse; transition: all 0.5s cubic-bezier(.6,-0.28,.74,.05);}
.detailsEingeblendet { transform: scale(1); opacity: 1; visibility: visible; transition: all 0.5s cubic-bezier(.18,.89,.32,1.28);}*/
	
	.detailsAusgeblendet { opacity: 0; /*visibility: collapse;*/ transform: scale(0) translateX(-50%);transition: all 0.3s ease-in;
					-webkit-transform: scale(0) translateX(-50%); -webkit-transition: all 0.3s ease-in;}
	.detailsEingeblendet { 
		opacity: 1; /*visibility: visible;*/ transform: scale(1) translateX(0%); transition: all 0.3s ease-out;
					-webkit-transform: scale(1) translateX(0%); -webkit-transition: all 0.3s ease-out;}



/* für Bau-GUI  */

.bauGUI  .imBau, .constructionGUI2 .imBau {font-weight: bold;}

.bauGUI .passive, .constructionGUI2 .passive {color: rgba(255,255,255,0.75);}
.bauGUI .passive.notEnoughRes, .constructionGUI2 .passive.notEnoughRes {color: rgba(255,0,0,0.75);}
.bauGUI .passive img, .constructionGUI2 .passive img {opacity:0.75;}

.bauGUI .bildDetails, .constructionGUI2 .bildDetails {height:21.5em;  display: block;  margin: 1em auto;}
.bauGUI .notEnoughRes, .constructionGUI2 .notEnoughRes {color:red;}
.bauGUI .stufenPfeil {color:#0f0; padding-right: .3em; text-align: right; width: 2em;}


/*.bauGUI, .constructionGUI2 .btTdWidth {width: 3.5em;}*/

.bauGUI .pBar, .constructionGUI2 .pBar {margin-top: -6px; margin-left: 0.5%; height: 3px;}
.bauGUI .pBarBkGrd, .constructionGUI2 .pBarBkGrd {margin-top: -6px; margin-left: 0.5%; height: 3px; width: 99%; opacity:0.6; z-index: 3; background-color: red;}

.bauGUI .tbConstructionTime {text-align: right; width: 12em;}						.constructionGUI2 .tbConstructionTime {text-align: right; width: 11em; padding-left: 0;}
.bauGUI .tbMaxFS, .constructionGUI2 .tbMaxFS {text-align:center; /*font-weight:bold;*/ color:red}
.bauGUI .tbMaxFS.passive, .constructionGUI2 .tbMaxFS.passive {color: rgba(255,0,0,0.75);}
.bauGUI .tbBezeichnung {width: 18em;}											.constructionGUI2 .tbBezeichnung {width: 14em; padding-top: 1em; padding-bottom: 1em;}
.bauGUI .tbStufe, .constructionGUI2 .tbStufe {text-align: right;  width: 1.3em;}
.bauGUI .tbVierStellig, .constructionGUI2 .tbVierStellig {width: 5.6em;}
.bauGUI .tbSechsStellig, .constructionGUI2 .tbSechsStellig {width: 7em;}
.bauGUI .tbAchtStellig, .constructionGUI2 .tbAchtStellig {width: 9em;}

.bauGUI .trMitPBar {height: 2.6em; vertical-align: baseline;}

.bauGUI .tbBeschreibungLang, .constructionGUI2 .tbBeschreibungLang {padding:0; margin: 0 auto 1em auto;}
.bauGUI .tbBeschreibungLangText, .constructionGUI2 .tbBeschreibungLangText {margin: 0.5em; vertical-align: baseline; width: 100%;}

.constructionGUI2 .tbSlider {color:#0f0; padding-right: .3em; text-align: right; width: 10em;}
.constructionGUI2 .img_ress {padding: 0 .225em;}
.constructionGUI2 .tbVierStellig, .constructionGUI2 .tbSechsStellig, .constructionGUI2 .tbAchtStellig {text-align:right;}

/* neue Button braucht das Spiel */

.bauGUI .bt {z-index:20;  /*display: block;*/  height: 1.5em;  width: 2.6em;  margin-top: 0.2em; margin-left: 0.5em; margin-right: 0.5em;
			cursor: pointer;  color: #fff;  background-color: #036;	/*#047;*/  border: none;  border-radius: 3px;}
.bauGUI .bt:active {transform: translateY(2px);}
.bauGUI .btPlatzhalter {visibility:hidden;}

.bauGUI .bt.btPlus{font-weight:900;  /*font-size:105%;*/  color: #0f0;  vertical-align: 15%;}
.bauGUI .bt.btPlus:hover {background-color: #383;}
.bauGUI .bt.btPlus:active {background-color: #161;}

.bauGUI .bt.btMinus{font-weight:900;  /*font-size:105%;*/  color: #f00;}
.bauGUI .bt.btMinus:hover {color: #fff;  background-color: #c22;}
.bauGUI .bt.btMinus:active {color: #fff;	background-color: #f33;}


.constructionGUI2 .bt {z-index:20;  /*display: block;*/  height: 1.5em;  width: 4.5em; margin: 0 0.5em; font-weight:bold;
			cursor: pointer;  color: #fff;  background-color: rgba(255,255,255,.4);	/*#047;*/  box-shadow: 1px 1px 2px #000000; border: 0px;  border-radius: 3px;}
.constructionGUI2 .bt:active {transform: translateY(2px);}
.constructionGUI2 .bt:hover {background-color: #383;}
.constructionGUI2 .bt:active {background-color: #161;}


/* parameter for slider */

.constructionGUI2 input[type=range] {-webkit-appearance: none; margin: 0; width: 100%;}
.constructionGUI2 input[type=range]:focus {outline: none;}

.constructionGUI2 input[type=range]::-webkit-slider-runnable-track {width: 100%; height: 13px; cursor: pointer; animate: 0.2s; 
		box-shadow: 1px 1px 1px #50555C; background: #50555C; border-radius: 5px; border: 0px solid #000000;}
.constructionGUI2 input[type=range]::-webkit-slider-thumb {box-shadow: 0px 0px 0px #000000; border: 0px solid #000000;
		height: 12px; width: 22px; border-radius: 5px; background: #4085b8; cursor: pointer; -webkit-appearance: none; margin-top: 0.5px;}
.constructionGUI2 input[type=range]:focus::-webkit-slider-runnable-track {background: #50555C;}

.constructionGUI2 input[type=range]::-moz-range-track {width: 100%; height: 13px; cursor: pointer; animate: 0.2s; 
		box-shadow: 1px 1px 1px #50555C; background: #50555C; border-radius: 5px; border: 0px solid #000000;}
.constructionGUI2 input[type=range]::-moz-range-thumb {box-shadow: 0px 0px 0px #000000; border: 0px solid #000000;
		height: 12px; width: 22px; border-radius: 5px; background: #4085b8; cursor: pointer;}

.constructionGUI2	input[type=range]::-ms-track {width: 100%; height: 13px; cursor: pointer; animate: 0.2s; background: transparent;
	  border-color: transparent; color: transparent;}
.constructionGUI2	input[type=range]::-ms-fill-lower {background: #50555C; border: 0px solid #000000; border-radius: 10px;
		box-shadow: 1px 1px 1px #50555C;}
.constructionGUI2	input[type=range]::-ms-fill-upper {background: #50555C; border: 0px solid #000000; border-radius: 10px;
		box-shadow: 1px 1px 1px #50555C;}
.constructionGUI2 input[type=range]::-ms-thumb {box-shadow: 0px 0px 0px #000000; border: 0px solid #000000;height: 12px;
		width: 22px; border-radius: 5px; background: #4085b8; cursor: pointer;}
.constructionGUI2 input[type=range]:focus::-ms-fill-lower {background: #50555C;}
.constructionGUI2 input[type=range]:focus::-ms-fill-upper {background: #50555C;}

.constructionGUI2 .slider {width:8em; vertical-align: middle;}
.constructionGUI2 .inputField {text-align:center; vertical-align:middle; width:1.5em; background-color:#50555C; border: none;  border-radius: 1px;}

.constructionGUI2 .inputField::-moz-selection { background: #70757C;} 
.constructionGUI2 .inputField::selection { background: #a0a5aC;} 
.constructionGUI2 .inputField:focus { background: #70757C; border:none; outline:none;} 

/* other button */
.btnNavigation {vertical-align: top; width: 2.5em; text-align: center; font-size: 90%; border:0; background-color: #036; border-radius: 2px;}
.btnNavigation input[type=submit]:disabled,button:disabled {color: rgba(255,255,255,0.5);}
.btnNavigation:active {transform: translateY(2px);}
.btnNavigation:hover {background-color: #369;}
.btnNavigation:active {background-color: #69c;}

/*styles message.php */ 
.messages .btn {font-size: 90%; font-weight: 900; width: 2.1em; vertical-align: middle; text-align: center; padding: 0;}
